  
 
 .flexbox-container{
    display: flex;
    flex-wrap: wrap;
    background-color: darkslategray;

 }

 .flexbox-item {
   
   margin: 5px;
   border: 3px solid #333;
   Background-color: #dfdfdf;
 }

 .flexbox-item-villian{
   width: 30%;
   height: 200px;

 }

 .flexbox-item-question{
   width: 60%;
   height: 200px;
}
.flexbox-item-player1Box{
  width: 20%;
  height: 200px;
}

.flexbox-item-answer{
  width: 55%;
  height: 200px;
}

.flexbox-item-player2Box{
  width: 20%;
  height: 200px;
}